################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/231.04.Lab/.vs/Lab04
/231.04.Lab/x64/Debug
